<% include partials/header %>
<h1>INDEX PAGE!</h1>
<% allblogs.forEach(function(blog){ %>
	<h2> <%= blog.title %> </h2>
	<img src="<%= blog.image %>" width=200px>
	<a href="/stellarglob/<%= blog._id %>">Show More</a>

	<div class="jumbotron jumbos" style="background: url(<%= blog.image %>) no-repeat center center fixed; ">
		<div class="container">
			<h1 class="display-3">
			<div class="row">
				<div class="col">
					<span class="gfont">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
						<span><%= blog.title %></span>
					<i class="fa fa-quote-right" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</h1> 
		 	<p class="lead" style="color: white;">Welcome to sumitsarin.com</p>
		 	<hr id ="myline">
		 	<p style="color: white;"><a href="/stellarglob/<%= blog._id %>">Show More</a></p> 
	 	</div>
	</div>
<% });%>
<% include partials/footer %>